<div class="border border-dark my-5">
  <h3>Add and Review a Movie</h3>
  <form class="form-group col-6" (submit)="onSubmit()" #formData="ngForm">
    Movie Title: <input
      class="form-control"
      type="text"
      name="title"
      [(ngModel)]="thisMovie.title"
      required
      minlength="3"
      #title="ngModel"
    >
    Your Name: <input
      class="form-control"
      type="text"
      name="name"
      [(ngModel)]="thisReview.name"
      required
      minlength="3"
      #name="ngModel"
    >
    Score: <input
      class="form-control"
      type="number"
      name="score"
      [(ngModel)]="thisReview.score"
      required
      min="1"
      max="5"
      #score="ngModel"
    >
    Review Commentary: <input
      class="form-control mb-5"
      type="text"
      name="comment"
      [(ngModel)]="thisReview.comment"
      required
      minlength="3"
      #comment="ngModel"
    >
    <input class="btn btn-success btn-sm mx-5" id="submit" type="submit" value="Save" [disabled]="formData.form.invalid">
    <a [routerLink]="['/']" id="close-new-movie" class="btn btn-danger btn-sm">Cancel</a>
  </form>
</div>